<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
            <div class="d-flex align-items-center">
                <a href="" class="me-2 text-decoration-none text-dark">Click here</a>
                <span>to go back home</span>
            </div>
        </LayoutView>
    </NotFound>
</Router>
